<h1>Here is a list of our users!</h1>
<table>
  <thead>
    <tr>
      <th>ID  </th>
      <th>First name  </th>
      <th>Last name  </th>
      <th>Email  </th>
      <th>Address  </th>
      <th>Favorite number  </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <tr>
          <td> <%= link_to user.id, user_path(user) %></td>
          <td> <%= user.first_name %> </td>
          <td> <%= user.last_name %> </td>
          <td> <%= user.email %> </td>
          <td> <%= user.address %> </td>
          <td> <%= user.favorite_no %> </td>
          <td> <%= link_to "Edit", edit_user_path(user) %></td> 
        </tr>
    <% end %>
  </tbody>
</table>
